/* App.css */
body {
  font-family: "Arial", sans-serif;
  background-color: #cecbcb; /* Color de fondo más suave */
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.calculator-container {
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 20px;
  max-width: 400px; /* Ancho máximo del contenedor */
  margin: 20px auto; /* Centrar horizontalmente */
}

.calculator-inputs {
  margin-bottom: 20px;
}

.calculator-occupants {
  margin-bottom: 20px;
}

.calculator-buttons {
  margin-bottom: 20px;
}

.calculator-results {
  text-align: left;
}

.input-container {
  margin-bottom: 10px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  color: #333; /* Color de texto oscuro */
}

.input-container input[type="number"],
.input-container input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button {
  background-color: #007bff; /* Azul brillante */
  color: #fff; /* Texto blanco */
  font-size: 1em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */
}

.button:hover {
  background-color: #0056b3; /* Cambia el color al pasar el mouse */
}

.result-container {
  background-color: #f9f9f9; /* Color de fondo para los resultados */
  padding: 10px;
  border-radius: 5px;
}

.result-container h2,
.result-container h3 {
  margin-top: 0;
}

.result-container ul {
  list-style-type: none;
  padding: 0;
}

.result-container li {
  margin-bottom: 5px;
}

/* RentDivisionCalculator.css */
.calculator-container {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
}

.calculator-buttons button {
  margin-right: 10px; /* Espacio entre los botones */
  background-color: #4caf50; /* Color de fondo verde */
  color: white; /* Texto blanco */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */
}

.calculator-buttons button:hover {
  background-color: #45a049; /* Cambia el color al pasar el mouse */
}

.calculator-occupants button {
  margin-right: 5px; /* Espacio entre los botones de ocupantes */
  background-color: grey; /* Color de fondo rojo */
  color: white; /* Texto blanco */
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */
}

.calculator-occupants button:hover {
  background-color: #2fd37b; /* Cambia el color al pasar el mouse */
}

.calculator-inputs label,
.calculator-inputs input[type="number"] {
  display: block;
  margin-bottom: 10px;
}
/* Estilo para centrar el input de Total Rooms */
.input-field {
  text-align: center; /* Centra el texto horizontalmente */
  margin: 0 auto; /* Ajusta el margen para centrar horizontalmente */
  width: 120px; /* Ajusta el ancho del input */
}
/* Estilos para el botón desplegable */
.dropbtn {
  background-color: transparent;
  color: rgb(145, 119, 119);
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

/* Estilos para el contenido desplegable */
.dropdown-content {
  display: block;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 200px;
  padding: 10px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Oculta el contenido desplegable por defecto */
.dropdown-content {
  display: none;
}

/* Muestra el contenido desplegable cuando el botón es clicado */
.dropdown-content.show {
  display: block;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  padding: 10px;
  border: 1px solid #ddd;
  z-index: 1;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.close:hover {
  color: red;
}
.title-container {
  /* Que este alineao en el centro */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  margin-left: 10px; /* Espacio entre el título y el icono */
}

.dropbtn {
  background-color: transparent;
  border: none;
}

.icon {
  font-size: 20px; /* Tamaño del icono */
  border-radius: 50%; /* Para hacerlo un círculo */
  background-color: #ccc; /* Color de fondo del círculo */
  width: 30px; /* Tamaño del contenedor del icono */
  height: 30px; /* Tamaño del contenedor del icono */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333; /* Color del icono */
}

.dropdown-content {
  position: absolute;
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  text-align: center; /* Alineación del texto al centro */
  left: 50%; /* Centra horizontalmente */
  top: 50%; /* Centra verticalmente */
  transform: translate(-50%, -50%); /* Centra completamente */
}

.dropdown-content.show {
  display: block;
}

.show {
  display: block;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.close:hover {
  color: red;
}
/*boton change*/
.change-button {
  background-color: #71a0d100;
  color: #ffffff00;
  font-size: 1em;
  padding: 0.7px 3px;
  position: absolute;
  top: 80%;
  right: 55%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */
}

.change-button:hover {
  background-color: #45a049; /* Cambia el color al pasar el mouse */
}

/*boton continue*/
.continue-button {
  background-color: #d7e6f500;
  color: #b94e4e00;
  font-size: 1em;
  padding: 0.7px 3px;
  position: absolute;
  top: 80%;
  left: 55%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */
}

.continue-button:hover {
  background-color: #45a049; /* Cambia el color al pasar el mouse */
}

.total-rent-box {
  border: 3px solid #45a049;
  padding: 20px;
  margin: 20px 20px;
  text-align: center;
  background-color: #e6e3e3;
  border-radius: 15px;
}

.occupant-names-box {
  border: 3px solid #45a049;
  padding: 20px;
  margin: 20px 20px;
  text-align: center;
  background-color: #e6e3e3;
  border-radius: 15px;
}

.confirmation-question-box {
  margin: 140px 20px;
  text-align: center;
}

.title-container-Inicio {
  text-align: center;
}

.vertical-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 10px; /* Ajusta el ancho de la barra */
  background-color: #337736; /* Ajusta el color de la barra */
}

.left-bar {
  left: 0;
}

.right-bar {
  right: 0;
}

.error-message {
  color: red;
  font-weight: bold;
}

.title-container-Decision {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decision-box {
  border: 3px solid #45a049;
  padding: 20px;
  margin: 20px 20px;
  text-align: center;
  background-color: #e6e3e3;
  border-radius: 15px;
}

/*
.button-decision {
}
*/
