/* App.css */
body {
  font-family: "Arial", sans-serif;
  background-color: #cecbcb; /* Color de fondo más suave */
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.Decision {
  text-align: center;
  padding: 20px;
}

.calculator-container {
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 20px;
  max-width: 400px; /* Ancho máximo del contenedor */
  margin: 20px auto; /* Centrar horizontalmente */
}

.calculator-inputs {
  margin-bottom: 20px;
}

.calculator-occupants {
  margin-bottom: 20px;
}

.calculator-buttons {
  margin-bottom: 20px;
}

.calculator-results {
  text-align: left;
}

.input-container {
  margin-bottom: 10px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  color: #333; /* Color de texto oscuro */
}

.input-container input[type="number"],
.input-container input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button {
  background-color: #007bff; /* Azul brillante */
  color: #fff; /* Texto blanco */
  font-size: 1em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */
}

.button:hover {
  background-color: #0056b3; /* Cambia el color al pasar el mouse */
}

.result-container {
  background-color: #f9f9f9; /* Color de fondo para los resultados */
  padding: 10px;
  border-radius: 5px;
}

.result-container h2,
.result-container h3 {
  margin-top: 0;
}

.result-container ul {
  list-style-type: none;
  padding: 0;
}

.result-container li {
  margin-bottom: 5px;
}

/* RentDivisionCalculator.css */
.calculator-container {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 100px auto;
}

.calculator-occupants button {
  margin-right: 5px; /* Espacio entre los botones de ocupantes */
  background-color: grey; /* Color de fondo rojo */
  color: white; /* Texto blanco */
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */
}

.calculator-occupants button:hover {
  background-color: #2fd37b; /* Cambia el color al pasar el mouse */
}

.calculator-inputs label,
.calculator-inputs input[type="number"] {
  display: block;
  margin-bottom: 10px;
}
/* Estilo para centrar el input de Total Rooms */
.input-field {
  text-align: center; /* Centra el texto horizontalmente */
  margin: 0 auto; /* Ajusta el margen para centrar horizontalmente */
  width: 120px; /* Ajusta el ancho del input */
}
/* Estilos para el botón desplegable */
.dropbtn {
  background-color: transparent;
  color: rgb(145, 119, 119);
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

/* Estilos para el contenido desplegable */
.dropdown-content {
  display: block;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 200px;
  padding: 10px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Oculta el contenido desplegable por defecto */
.dropdown-content {
  display: none;
}

/* Muestra el contenido desplegable cuando el botón es clicado */
.dropdown-content.show {
  display: block;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  padding: 10px;
  border: 1px solid #ddd;
  z-index: 1;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.close:hover {
  color: red;
}
.title-container {
  /* Que este alineao en el centro */
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropbtn {
  background-color: transparent;
  border: none;
}

.icon {
  font-size: 20px; /* Tamaño del icono */
  border-radius: 50%; /* Para hacerlo un círculo */
  background-color: #ccc; /* Color de fondo del círculo */
  width: 30px; /* Tamaño del contenedor del icono */
  height: 30px; /* Tamaño del contenedor del icono */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333; /* Color del icono */
}

.dropdown-content {
  position: absolute;
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  text-align: center; /* Alineación del texto al centro */
  left: 50%; /* Centra horizontalmente */
  top: 50%; /* Centra verticalmente */
  transform: translate(-50%, -50%); /* Centra completamente */
}

.dropdown-content.show {
  display: block;
}

.show {
  display: block;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.close:hover {
  color: red;
}
/*boton change*/
.change-button {
  background-color: #71a0d100;
  color: #ffffff00;
  font-size: 1em;
  padding: 0.7px 3px;
  position: absolute;
  top: 80%;
  right: 55%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */
}

.change-button:hover {
  background-color: #45a049; /* Cambia el color al pasar el mouse */
}

/*boton continue*/
.continue-button {
  background-color: #d7e6f500;
  color: #b94e4e00;
  font-size: 1em;
  padding: 0.7px 3px;
  position: absolute;
  top: 80%;
  left: 55%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */
}

.continue-button:hover {
  background-color: #45a049; /* Cambia el color al pasar el mouse */
}

.total-rent-box {
  border: 3px solid #45a049;
  padding: 20px;
  margin: 20px 20px;
  text-align: center;
  background-color: #e6e3e3;
  border-radius: 15px;
}

.occupant-names-box {
  border: 3px solid #45a049;
  padding: 20px;
  margin: 20px 20px;
  text-align: center;
  background-color: #e6e3e3;
  border-radius: 15px;
}

.confirmation-question-box {
  margin: 140px 20px;
  text-align: center;
}

.title-container-Inicio {
  text-align: center;
}

.vertical-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 10px; /* Ajusta el ancho de la barra */
  background-color: #337736; /* Ajusta el color de la barra */
}

.left-bar {
  left: 0;
}

.right-bar {
  right: 0;
}

.error-message {
  margin-top: 20px;
  color: red;
  font-weight: bold;
}

.title-container-Decision {
  position: fixed; /* Fija la posición en la parte superior */
  text-align: center;
  background: rgba(255, 255, 255, 0.7); /* Fondo blanco semitransparente */
  top: 0;
  width: 100%; /* Hace que el ancho sea del 100% */
}

.title-container-Decision h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #28a745; /* Color verde */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: inline-block;
}

.decision-box {
  border: 3px solid #ffffff;
  padding: 20px;
  margin: 20px 20px;
  text-align: center;
  border-radius: 15px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 15px;
  max-width: 1000px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;

  /* Centrar el elemento */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calculator-buttons button {
  margin-right: 10px; /* Espacio entre los botones */
  background-color: #4caf50; /* Color de fondo verde */
  color: white; /* Texto blanco */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */
}

.calculator-buttons button:hover {
  background-color: #45a049; /* Cambia el color al pasar el mouse */
}

.calculate-button button {
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.calculate-button button:hover {
  background-color: #45a049;
}

.final-message-box {
  border: 3px solid #ffffff;
  padding: 20px;
  margin: 20px 20px;
  text-align: center;
  border-radius: 15px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 15px;
  max-width: 1000px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;

  /* Centrar el elemento */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*PIJADAS*/
/*APP.JS*/
.header {
  position: fixed;
  top: -40px; /* Mover el encabezado más arriba */
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco difuminado */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  z-index: 1; /* Asegura que el encabezado esté por encima de otros elementos */
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container {
  display: flex;
  align-items: center;
  height: 90px;
}

.main-title {
  font-size: 3rem;
  font-weight: bold;
  color: #28a745;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-right: 10px;
}

.logo {
  height: 120px; /* Aumentar el tamaño del logo */
  width: auto;
}
.title-container {
  display: flex;
  align-items: center;
  height: 30px;
}
.roof-background {
  position: fixed; /* Cambiado de 'relative' a 'fixed' */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* Añadido para ocupar toda la altura */
  padding-top: 100px;
  background: url("/fondo-moderno-calle-tokio.jpg") no-repeat center center;
  background-size: cover;
  z-index: -1; /* Añadido para que el contenido esté por encima del fondo */
}

.decision-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/fondo-moderno-calle-tokio.jpg") no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.roof-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
  background: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  z-index: -1;
}

.calculator-inputs,
.calculator-occupants {
  background: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 2px;
}

.calculator-inputs-decision {
  position: fixed; /* Fija la posición en la parte superior */
  width: 100%; /* Hace que el ancho sea del 100% */
  background: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
  padding: 2px; /* Reduce el padding para hacer la barra más fina */
  border-radius: 0px;
  margin-bottom: 0px;
  top: 0;
  left: 0;
  right: 0;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.calculate-button button {
  background-color: #28a745; /* Botón verde */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.calculate-button button:hover {
  background-color: #218838; /* Color más oscuro al pasar el ratón */
}

.error-message {
  color: red;
  margin-top: 10px;
}

.total-rent-text,
.select-total-rooms-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #28a745; /* Color verde */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Sombra de texto */
  margin-bottom: 10px; /* Espacio debajo del texto */
  display: block;
}

/*VENTANA EMERGENTE*/
/* Estilos para el modal */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 25% auto;
  padding: 10px;
  border: 2px solid #fefefe; /* Cambiado el grosor y color del borde */
  width: 50%; /* Modificado el ancho del recuadro emergente */
  position: relative; /* Para permitir el posicionamiento absoluto del botón de cierre */
}

.close {
  color: #fff; /* Cambiado el color del texto a blanco */
  background-color: #ff0000; /* Color de fondo rojo */
  border-radius: 50%; /* Para hacer un círculo */
  font-size: 20px;
  font-weight: bold;
  width: 30px; /* Tamaño del botón de cierre */
  height: 30px; /* Tamaño del botón de cierre */
  line-height: 30px; /* Centra el texto verticalmente */
  text-align: center; /* Centra el texto horizontalmente */
  position: absolute; /* Posicionamiento absoluto */
  top: -15px; /* Posición respecto al borde superior del recuadro emergente */
  right: -15px; /* Posición respecto al borde derecho del recuadro emergente */
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000; /* Cambiado el color del texto al pasar el mouse */
}

.button-decision button {
  background-color: #28a745; /* Color verde */
  color: white; /* Texto blanco para contraste */
  border: none; /* Elimina el borde predeterminado */
  padding: 5px 10px; /* Añade algo de padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px; /* Añade bordes redondeados */
}

.title-container-Final {
  position: fixed; /* Fija la posición en la parte superior */
  text-align: center;
  background: rgba(255, 255, 255, 0.7); /* Fondo blanco semitransparente */
  top: 0;
  width: 100%; /* Hace que el ancho sea del 100% */
}

.title-container-Final h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #28a745; /* Color verde */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: inline-block;
}

.final-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/fondo-moderno-calle-tokio.jpg") no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.button-final button {
  background-color: #28a745; /* Color verde */
  color: white; /* Texto blanco para contraste */
  border: none; /* Elimina el borde predeterminado */
  padding: 10px 20px; /* Añade algo de padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px; /* Añade bordes redondeados */
  z-index: 1000; /* Asegura que el botón aparezca por encima de otros elementos */
  position: absolute; /* Cambia a absolute */
  bottom: 0; /* Posiciona en la parte inferior */
  right: 0; /* Posiciona a la derecha */
}
